/* Normal and important  */
body {
    margin: 0%;
}


.mt-6 {
    margin-top: 0.1em;
}

.mt-7 {
    margin-top: 0.3em;
}

.mt-8 {
    margin-top: 7em;
}

.mt-9 {
    margin-top: 6em !important;
}

/* //Normal and important  */
/* Header */
.bg-header {
    background: linear-gradient(90deg, rgba(255, 205, 35, 1) 0%, rgba(223, 163, 30, 1) 41%, rgba(29, 161, 86, 1) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-link {
    color: #fff !important;
    font-weight: bold !important;
}

.main-text {
    font-weight: bolder;
    color: #fff;

}

.First-btn:hover {
    color: #1da156 !important;
}

.Second-btn:hover {
    color: #b4be35 !important;
}

.nav-toggle {
    margin-top: 0.9em !important;
}



/* //Header */

/* Section -2 */
.heading-text {
    background: linear-gradient(90deg, rgba(255, 205, 35, 1) 0%, rgba(223, 163, 30, 1) 41%, rgba(29, 161, 86, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.securityCode{
    width: 10% !important;
    text-align: center;
    user-select: none;
   
}
.userInput{
    width: 35%;
    margin-top: 0.5em !important;
}




/* MAP DIV */
.map-contain {
    background: linear-gradient(90deg, rgba(255, 205, 35, 1) 0%, rgba(223, 163, 30, 1) 41%, rgba(29, 161, 86, 1) 100%);
    border-radius: 15px;
    width: 90%;
}

.map-body {
    margin-bottom: 0.3em;
}

.map-iframe {
    border-radius: 12px;
    width: 100%;
    height: 14.2em;
}

/* //MAP DIV */

/* //Section -2 */

/* Footer */
.bg-footer {
    background: linear-gradient(90deg, rgba(255, 205, 35, 1) 0%, rgba(223, 163, 30, 1) 41%, rgba(29, 161, 86, 1) 100%);
    height: 3em;
}
.footer-text{
    margin-top: 0.5em !important;
    color: #fff;
    font-weight: bold;
}


/* //Footer */